
<div class="main">
  
  
    
  

      <mat-card class="pill first">


        <mat-card-title>Get involved with many activities of our Darts Club!</mat-card-title>
      
      <mat-card-content>Keep track of your past games and created reservations!</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="Login" *ngIf="!User">Login or Create an Account</button>
        <button mat-flat-button color="primary" routerLink="User" *ngIf="User">Check out your Account</button>
        <button mat-flat-button color="secondary" routerLink="Games" *ngIf="User">Take a look at your Games</button>
      </mat-card-actions>
      </mat-card>
      <hr>
  
      <mat-card class="pill second">
        <mat-card-title>Want to browse our blog section?</mat-card-title>
        <mat-card-content>Or post a blog of your own?</mat-card-content>
      <mat-card-actions>
        <button  mat-flat-button color="primary" routerLink="Blogs">Check out out blog section</button>
        <button  mat-flat-button color="secondary" *ngIf="User" routerLink="Post">Post a Blog</button>
      </mat-card-actions>
      </mat-card>
      <hr>
  
      <mat-card class="pill third">
        <mat-card-title>Want to make a reservation at our club?</mat-card-title>
        <mat-card-content>Or review your oending reservations?</mat-card-content>
      
      <mat-card-actions>
        <button routerLink="Reservation" mat-flat-button color="primary">Check for free dates</button>
      </mat-card-actions>
      </mat-card>
      <hr>
  
  
  
  
  
  </div>