<div class="main">

  <div class="pill-group-dart">
    <form class="pill-group" [formGroup]="LoginForm"> 

  
      <p>Please Login using your credentials</p>

      <mat-form-field class="pill">
      


      <mat-label>Username</mat-label>
      <input matInput formControlName="Username">
      
      </mat-form-field>

      <mat-form-field class="pill">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="Password" matInput>
      </mat-form-field>

      
      <button [disabled]="LoginForm.invalid" (click)="submitLogin()"  mat-flat-button color="primary" >Login</button>


    </form>



<form class="pill-group" [formGroup]="RegisterForm"> 

  
  <p>Or create a new account</p>

  <mat-form-field class="pill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="Username">
    </mat-form-field>
  
    <mat-form-field class="pill">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="Password" matInput>
    </mat-form-field>
  
    <mat-form-field class="pill">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="Email" matInput>
    </mat-form-field>
    
    <button [disabled]="RegisterForm.invalid" (click)="submitRegister()"  mat-flat-button color="primary" >Register</button>
  
  
  </form>

</div>

</div>

