<div class="main">
 
    
    <div class="top">
      <div class="left">
        <div class="top">
          <h1>{{User?.name || null}} </h1>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <img src="../../assets/settings.png">
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openDialog()"  mat-menu-item  color="primary" >
              <mat-icon>mood</mat-icon>
              <span>Change Picture</span>
            </button>
            
            <button mat-menu-item (click)="openPassworDialog()">
              <mat-icon>lock_open</mat-icon>
              <span>Change Password</span>
            </button>
          </mat-menu>
        </div>
        
        <img mat-card-lg-image [src]="picturePath" >

      </div>

      <div class="right">
        <div class="pill-group">
          <mat-card  appearance="outlined" class="pill">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                   <p> Your average points per game:
                  </p>

                   </mat-card-title>
                  
                </mat-card-title-group>
              </mat-card-header>
    
              <mat-card-content><p> {{UserAverages?.pointAverage || 0}} </p></mat-card-content>
            </mat-card>
        </div>
    <hr>
        <div class="pill-group">
          <mat-card  appearance="outlined" class="pill">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title> <p> Your  number of Wins: </p></mat-card-title>
                  
                </mat-card-title-group>
              </mat-card-header>
          
              <mat-card-content><p> {{UserAverages?.winCount || 0}} </p></mat-card-content>
          </mat-card>
    
          <mat-card  appearance="outlined" class="pill">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title> <p> Your number of Losses: </p></mat-card-title>
                  
                </mat-card-title-group>
              </mat-card-header>
          
              <mat-card-content> <p> {{UserAverages?.lossCount || 0}} </p></mat-card-content>
          </mat-card>
        </div>
        <hr>
    
        <div class="pill-group">
          <mat-card  appearance="outlined" class="pill">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title><p>Your average number of Triple Twenties per game:  </p> </mat-card-title>
                  
                </mat-card-title-group>
              </mat-card-header>
          
              <mat-card-content> <p>{{UserAverages?.tripleTwentyAverage  || 0}} </p></mat-card-content>
          </mat-card>
    
          <mat-card  appearance="outlined" class="pill">
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title><p>   Your average number of Bulls Eyes per game: </p></mat-card-title>
                  
                </mat-card-title-group>
              </mat-card-header>
          
              <mat-card-content><p> {{UserAverages?.bullsEyeAverage || 0}} </p></mat-card-content>
          </mat-card>
        </div>
    
     
      </div>
    </div>
    <hr>


</div>

<!-- 
 <mat-card  appearance="outlined">
      <mat-card-header>
          <mat-card-title-group>
            <mat-card-title><h1>{{User?.name || null}} </h1></mat-card-title>
            <img mat-card-lg-image [src]="picturePath" >
          </mat-card-title-group>
        </mat-card-header>
    <mat-card-actions>
      <button (click)="openDialog()"  mat-flat-button color="primary" >Change Picture</button>
      <button (click)="openPassworDialog()"  mat-flat-button color="primary" >Change Password</button>
    </mat-card-actions>
    
  </mat-card>

    <div class="pill-group">
      <mat-card  appearance="outlined" class="pill">
        <mat-card-header>
            <mat-card-title-group>
              <mat-card-title> <h2>Your average points per game: </h2> </mat-card-title>
              
            </mat-card-title-group>
          </mat-card-header>

          <mat-card-content><p> {{UserAverages?.pointAverage || 0}} </p></mat-card-content>
        </mat-card>
    </div>


    <div class="pill-group">
      <mat-card  appearance="outlined" class="pill">
        <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Your average number of Triple Twenties per game:</mat-card-title>
              
            </mat-card-title-group>
          </mat-card-header>
      
          <mat-card-content> <p>{{UserAverages?.tripleTwentyAverage  || 0}} </p></mat-card-content>
      </mat-card>

      <mat-card  appearance="outlined" class="pill">
        <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Your average number of Bulls Eyes per game:</mat-card-title>
              
            </mat-card-title-group>
          </mat-card-header>
      
          <mat-card-content><p> {{UserAverages?.bullsEyeAverage || 0}} </p></mat-card-content>
      </mat-card>
    </div>

    <div class="pill-group">
      <mat-card  appearance="outlined" class="pill">
        <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Your  number of Wins:</mat-card-title>
              
            </mat-card-title-group>
          </mat-card-header>
      
          <mat-card-content><p> {{UserAverages?.winCount || 0}} </p></mat-card-content>
      </mat-card>

      <mat-card  appearance="outlined" class="pill">
        <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Your number of Losses:</mat-card-title>
              
            </mat-card-title-group>
          </mat-card-header>
      
          <mat-card-content> <p> {{UserAverages?.lossCount || 0}} </p></mat-card-content>
      </mat-card>
    </div>

-->