<mat-dialog-content>
    <form class="pill-group" [formGroup]="PasswordForm"> 
        <mat-form-field class="pill">
          <mat-label>Your old password</mat-label>
          <input type="password" formControlName="OldPassword" matInput>
        </mat-form-field>
      
        <mat-form-field class="pill">
          <mat-label>Your new password</mat-label>
          <input type="password" formControlName="NewPassword" matInput>
        </mat-form-field>
        
      
  </form>

  <p *ngIf="changed"> Password Changed Successfully, you can close this window now</p>
 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button [disabled]="PasswordForm.invalid" (click)="submit()"  mat-flat-button color="primary" >Change Password</button>
 
</mat-dialog-actions>
